@media only screen and (min-width: 1501px) {
  #randomArticle {
	   display: inline-block;
  }
  #main{
	  width: 75%;
  }
  #menueRandArt {
    display: none;
  }
}

@media only screen and (min-width: 761px) and (max-width: 1500px) {
  #randomArticle {
	   display: none;
  }
  #main{
	  width: 90%;
  }
  #menueRandArt {
    display: inline-block;
  }
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: arial;
	font-size: 1.1em;
  background-color: #414141;
}

#container {
  overflow: auto;
  clear: both;
}

#menue {
	height: auto;
  text-align: center;
	border-bottom: 0.3em solid #f19c38;
  color: white;
}

#logo {   
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 10px;
  text-align: center;
}

#logo img{
  padding: 0.5em 0.5em;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

nav ul {
  list-style: none; 
}

nav ul li {
   display: inline-block; 
} 

nav ul ul{
  display: none;
  position: absolute;
  border-top: 0.3em solid #f19c38;
  z-index: 1000;
  background-color: #414141;
}  

nav ul li ul li{
  display: list-item;
  border-left: 1px solid #f19c38;
  border-right: 1px solid #f19c38;
}

nav ul li ul:last-child {
  border-bottom: 1px solid #f19c38;
}

nav ul li ul li:hover{
	background-color: #757575;
}

nav ul li:hover ul{
  display: block;
}

.highlight {
  color: white;
  text-shadow: 1px 1px 2px black;
	width: 92%;
  font-size: 1em;
	padding-left: 4%;
	padding-right: 4%;
	border-radius: 5px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.highlight{
	background-color: #2E96FF;
}

#main{
   padding: 20px 0px 20px 5%;
   text-align: justify;
   float: left;
   color: lightgrey;
}

#randomArticle {
  float: left;
  width: 15%;     
  margin-top: 20px;
	margin-left: 3%;
}

#randArtHeading {
   padding: 10px 1%;
   color: white;
   text-align: center;
}

.randArtKategorie {
	height: 1.3em;
	width: 88%;
	color: white;
	font-size: 1.5em;
	text-align: center;
	border: 1px solid white;
	padding: 0px 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;	
}

.randArtMain {
   width: 88%;
   padding: 10px 10px;
   margin-bottom: 30px;
   height: auto;
   border: 1px solid white;
   border-bottom-left-radius: 7px;
   border-bottom-right-radius:7px; 
   color: white;
   text-align: left;
}

#footer{
	margin-top: 10px;
  width: 100%;
  font-size: 1em;   
  border-top: 0.3em solid #f19c38;
}

#footer table {
	padding-top: 1%;
  margin: 0px auto;
}

#footer th {
  text-align: left;
  color: grey;
  padding-bottom: 5px;
}

#footer td {
  width: 10em;
  padding: 2px 0px;
}

#footer a {
	color: white;
}

#footer a:hover{
  text-decoration: underline;
}

a {
	color: orange;
  text-decoration: none;
}

#menue a {
	font-size: 1.3em;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 200px;
	color: white;
}

#menue a:hover {
	font-size: 1.3em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 5px;
	padding-right: 5px;	
	display: inline-block;
	width: 200px;
}

#menue #menueSelected {
	font-size: 1.3em;
	padding: 0.5em 5px;
	width: 200px;
	background-color: #f19c38;
}

.keyword {
  color: white;
}

#subheader {
  font-size: 20px;
  color: grey;
}

#header {
	height: auto;
	width: 85%;
	margin: 0px auto;
	margin-bottom: 2%;
	text-align: center;
	font-weight: bold;
	font-size: 1.8em;
}         